@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/ofont.ru_Archangelsk.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}
*,
*::before,
.body {
  font-family: "Archangelsk", "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}

*::after {
  box-sizing: inherit;
}

.container {
  width: 1280px;
  margin: 0 auto 0 auto;
  display: block;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header_logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.header_logo-pic {
  width: 296px;
  height: 74px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_item {
  margin-right: 70px;
}
.header_item:last-child {
  margin-right: 0;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}
/*Header styles end*/

/*Intro styles start*/
.intro {
  height: 52vw;
  background: url(/img/Первый\ блок/11.jpg) no-repeat center center;
  padding: 0px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

.container_intro {
  height: 100%;
}
.intro_banner {
  background-color: #f8f200;
  justify-content: center;
  width: 624px;
  height: 369px;
  padding: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  clip-path: polygon(
    2vw 0,
    100% 0,
    100% calc(100% - 2vw),
    calc(100% - 2vw) 100%,
    0 100%,
    0 2vw
  );
}
.intro_text {
  font-family: "Archangelsk";
  font-style: normal;
  font-size: 62px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  top: 70px;
  left: 70px;
  right: 70px;
}
.intro_button {
  font-family: "Roboto" sans-serif;
  width: 272px;
  height: 78px;
  font-style: normal;
  size: 24px;
  font-weight: 700;
  color: #f8f200;
  background-color: #000000;
  position: absolute;
  top: 221px;
  left: 70px;
  right: 282px;
  padding: 19px 50px;
}

button.intro_button:hover {
  background-color: #00000099;
}
/*Intro styles end*/

/*Night-city start*/
.night_city {
  background-color: #ffffff;
  max-height: 777px;
}

.night_city_h2 {
  font-family: "Archangelsk";
  font-size: 62px;
  padding-top: 7%;
}
.night_city_p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  max-width: 952px;
  max-height: 125px;
  padding-top: 25px;
}
.ceber_strong {
  text-decoration: none;
}
.cyberpunk_strong {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #2f00ff;
}
.container_img {
  display: flex;
  max-width: 100%;
  max-height: auto;
  padding-top: 7%;
}
.container_city_img {
  display: block;
}
img:first-child {
  margin-bottom: 31px;
}
/*Night-city end*/
