@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/archangelsk.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/archangelsk.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/archangelsk.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/archangelsk.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/archangelsk.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/archangelsk.svg#archangelsk")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
body {
  font-family: "Archangelsk", "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}

*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
/*Header styles start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 320px;
}
.header_logo-pic {
  width: 296px;
  height: 74px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_item {
  margin-right: 70px;
}
.header_item:last-child {
  margin-right: 320px;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}
/*Header styles end*/

/*Intro styles start*/
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/11.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
}

/*Intro styles end*/
